<h2>Welcome to sign-in</h2>
<section data-ng-controller="homeCtrl as vm" ng-init="vm.isSingIn()">

  <form ng-submit="vm.getUserAuth()">

    <div class="form-group">
      <label class="control-label" for="inputLarge">UserName</label>
      <input class="form-control input-lg" id="inputLarge" type="username" ng-model="vm.username">
    </div>

    <div class="form-group">
      <label class="control-label" for="inputLarge">Password</label>
      <input class="form-control input-lg" id="inputLarge" type="password" ng-model="vm.password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</section>
